<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>FORMULARIO MULTIPLICACION</h1>
      <form name="userForm">
        <div class="form-group row">
          <label for="op1" class="col-sm-2 col-form-label">Primer operando</label>
          <div class="input-group">
            <div class="col-sm-10">
              <input type="text" ng-model="op1" class="form-control"
                ng-class="{ 'is-invalid' : !userForm.op1.$valid && !userForm.op1.$pristine}" name="op1"
                placeholder="Introduce operando 1" ng-pattern="/^\d+$/i" ng-maxlength="10" ng-required="true" />
              <div class="invalid-feedback" ng-show="userForm.op1.$error.required">
                El operando no puede estar vacío.
              </div>
              <div class="invalid-feedback" ng-show="userForm.op1.$error.pattern">
                El operando introducido es incorrecto, sólo debe llevar números
              </div>
              <div class="invalid-feedback" ng-show="userForm.op1.$error.maxlength">
                El operando introducido es incorrecto: la longitud máxima es de 10 números
              </div>
            </div>
          </div>
        </div>
        <div class="form-group row">
          <label for="op2" class="col-sm-2 col-form-label">Segundo operando</label>
          <div class="input-group">
            <div class="col-sm-10">
              <input type="text" ng-model="op2" class="form-control"
                ng-class="{ 'is-invalid' : !userForm.op2.$valid && !userForm.op2.$pristine}" name="op2"
                placeholder="Introduce operando 2" ng-pattern="/^\d+$/i" ng-maxlength="10" ng-required="true" />
              <div class="invalid-feedback" ng-show="userForm.op2.$error.required">
                El operando no puede estar vacío.
              </div>
              <div class="invalid-feedback" ng-show="userForm.op2.$error.pattern">
                El operando introducido es incorrecto, sólo debe llevar números
              </div>
              <div class="invalid-feedback" ng-show="userForm.op2.$error.maxlength">
                El operando introducido es incorrecto: la longitud máxima es de 10 números
              </div>
            </div>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-sm-10">
            <button type="submit" ng-disabled="userForm.$invalid" class="btn btn-primary" ng-click="multiplica()">Enviar
              datos</button>
          </div>
        </div>
      </form>
      <h2 ng-show="resultado">El resultado de la multiplicación es {{resultado}}</h2>
      <a href="#!/">Ir a la página de inicio</a><br>
    </div>
  </div>
</div>