<ng-include src="'./app/menu.html'"></ng-include>
<div class="container">
    <div class="row">
        <div class="col">
            <h1 class="mb-4">Borrado de post</h1>
            <div ng-if="hecho">
                <div class="alert alert-danger" role="alert" ng-if="fallido">No se ha podido borrar el post</div>
                <div class="alert alert-success" role="alert" ng-if="!fallido">El post se ha borrado con exito</div>
            </div>
            <table class="table table-bordered table-hover" ng-show="!hecho">
                <tr>
                    <th> Campo </th>
                    <th> Valor </th>
                </tr>
                <tr>
                    <th> Id: </th>
                    <td> {{id}} </td>
                </tr>
                <tr>
                    <th> Titulo: </th>
                    <td> {{titulo}} </td>
                </tr>
                <tr>
                    <th> Cuerpo: </th>
                    <td> {{cuerpo}} </td>
                </tr>
                <tr>
                    <th> Etiquetas: </th>
                    <td> {{etiquetas}} </td>
                </tr>
                <tr>
                    <th> Fecha: </th>
                    <td> {{fecha | stringToDate | date : "dd/MM/yyyy"}} </td>
                </tr>
            </table>

            <div class="float-right">
                <div class="my-3" ng-if="!hecho">¿Estas seguro de eliminar el post?</div>
                <div>
                    <button type="button" class="btn btn-danger" ng-click="eliminar()" ng-if="!hecho">Eliminar</button>
                    <button type="button" class="btn btn-outline-dark" ng-click="volver()">Volver</button>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-include src="'./app/footer.html'"></ng-include>